html {
  width: 100%;
}

#header {
  text-align: center;
}

/*-------------nav links START-------------*/
.navbar {
  overflow: hidden;
  background-color: #333;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
  color: black;
}

.dropdown-content {
  display: none;
  font-weight: bold;
  position: absolute;
  background-color: #333;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: burlywood;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*-------------nav links END*--------------/

/*-------------MORE-------------*/
/*https://css-tricks.com/css-link-hover-effects/*/
.more {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}
.more:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

.more:visited {
  /*NEED to be tested*/
  color: rgb(211, 211, 90);
}

.more:active {
  color: pink;
}

/*-------------BACK TO TOP-------------*/
.backTop a:link {
  color: rgb(231, 129, 209);
}

.backTop a:visited {
  color: #333;
}

.backTop a:hover {
  color: blue;
}

.backTop a:active {
  color: lightgrey;
}

/*-------------PROJECTS STRAT-------------*/
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-column-gap: 5px;
  grid-row-gap: 5px;

  justify-items: center;

  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

/*https://coolors.co/f4d06f-ff8811-9dd9d2-fff8f0-392f5a  color gather*/
